<!DOCTYPE html>
<html>
    <head>
        <title>PROGRAMACIÓN PHP</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../View/css/estilos.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <h1>PROGRAMACIÓN PHP</h1>
            <h2 id="subtitulo1">Artículos sobre la programación php</h2>
        </header>
        {% block listado %}
            {% endblock %}
        <footer>
            &copy; Moisés Rodríguez 2016
        </footer>
    </body>
</html>
